<html>
    <%- include('../partials/head.ejs') %>
  
       
    
   
            <body class="standard">
                <%- include('../partials/nav.ejs') %>
                <%- include("../partials/details.ejs") %>
           
      
                <p>about page</p>

                <%- include("../partials/footer.ejs") %>
   
                      </body>
           
</html>