
<html>
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <p> contact forum</p>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
