
<html>
    <%- include("../partials/head.ejs") %>
    <body class="standard">
        <%- include('../partials/nav.ejs') %>
        <%- include('../partials/contact-page.ejs') %>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
