<html lang="en">
 
    <%- include("../partials/head.ejs") %>

    
    <%- include('../partials/nav.ejs') %>  
   
   
    <body class="standard">
      
        <div >
           
            <%- include("../partials/scarf.ejs") %>
            <p class="grass-words">I am a fullstack software developer specializing in Java, Javascript, React, PostgreSql, and many other languages, frameworks and databases</p>
            
           </div>
         
    </body>

    <%- include("../partials/footer.ejs") %>

</html>