<html lang="en">
 
    <%- include("../partials/head.ejs") %>

    
    <%- include('../partials/nav.ejs') %>  
   
   
    <body class="standard">
      
        <div class="w3-container">
           
            <%- include("../partials/scarf.ejs") %>
           
             
           </div>
           <%- include("../partials/footer.ejs") %>
   
         
           </body>

           

</html>