<html>
    <%- include("../partials/head.ejs") %>
   <%- include('../partials/nav.ejs') %>

    <body>
       
    <%- include('../partials/projects.ejs') %>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>
