@font-face {
    font-family: league-spartan;
    src: url('/fonts/league-spartan/leaguespartan-bold.eot')
}

.icon-details{
    display:inline-flexbox;
    width: 32px;
    height: 32px;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
   
   flex: 0 1 calc(20% - 8px);
}

span{
    padding: 10px;
   
}


.icon-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 2px solid rgba(214, 211, 211, 0.068);
    border-radius: 5px;
    
    padding-right: 25px;
    padding-left: 25px;
   
    background-color: rgba(255, 255, 255, 0.396);
    margin-left: 15%;
    margin-right: 15%;
   /* height: 40%;*/
    width: 700px;
    
    

}

hr{
    color:white;
    margin-left: 5%;
    margin-right: 5%;
    
    
}
footer{
    
    background-color: black;
    position: relative;
    color: white;
    bottom: 0;
    text-align: center;
    
    width: 100%;
   
    
}
.main-paragraph{
    
    font-size: larger;
    color:rgb(255, 255, 255);
    text-align: center;
    display: flexbox;
   
}
.techs{
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    padding-left: 15px;
    
}
#nav-icon{
    
    text-align: right;
    font-size:160%;
   
    
   
}

.intro-text{
    text-align: justify;
    text-indent: 100px;
  
}


.bigname{
    padding-top: 14%;
    text-align: justify;
    font-size: 110px;
    font-family: league-spartan;
    color:black;

    text-indent: 100px;
}

.midname{
    text-align: justify;
    font-size: 80px;
    color: black;
    text-indent: 200px;
}
.standard{
    /*photo size is 4288 x 28488*/
    background-image: url('../images/willian-justan.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
}


/* nav bar*/
.navigation-bar{
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    font-size: 17px;
    color: white;
    background-color: rgb(18, 17, 17);
    justify-content: space-evenly;
    width:100%;
}

.flex-container a.page-links{
    
  
    display: flex;
    justify-content:center;
}
/*navbar links*/
.flex-container a{
    margin: 12px;
    
    color: white;
    text-decoration: none;
    margin-left: 54px;

    
}


.flex-container a:hover {
    transition: 0.5s;
    color:rgb(54, 149, 212);
}

.project-master{
    margin: 10% 5% 10% 5%;
    display: flex;
    border: solid black;
    background-color: rgba(214, 211, 211, 0.284);
    justify-content:flex-start;
    
}


.project-component{
    margin: 3% 3% 3% 3%;
    flex-direction:column;
    display: flex;
    
    width: 70%;
    height:500px;
    border: solid black;
    
}
.project{
    margin-left: 10px;
    width: 30%;
    height: 80%;
    background-color: red;
    padding-bottom: 10%;
    border: solid;
}
.project-image{
    
   display: flex;
    margin: 5% 5% 40% 5%;
    height: 70%;
    width: 90%;
    
    
   
}

.project-content{
    
    flex:auto;
    
    color: white;   
   
   text-align: justify;
   
}


/***new navbar***/





@media screen and (max-width: 600px){

}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*details page*/
.details-page, .details-page2{
    margin-top: 10%;
    display:flex;
    justify-content: center;
    
}

.detail-attributes{
    margin-top: 10%;
    display: flex;
    font-size: 35px;
    justify-content: center;
}

title{
    display: flex;
    justify-content:flex-start;
    font-size: 40px;
    color: rgb(250, 250, 250);
}

/**button**/
.btn{
    
    background-color: black;
    text-align: center;
    margin: auto;
    align-items: center;
    
}

.contact-form{
    text-align: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black;
    margin: 10% 35% 10% 35%;
    background-color: rgba(240, 255, 255, 0.377);
}
.contact-form-input{
    display: flex;
    flex-direction: column;
    margin: auto;
}
