@font-face {
    font-family: league-spartan;
    src: url('/fonts/league-spartan/leaguespartan-bold.eot')
}

.icon-details{
    width: 32px;
    height: 32px;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
   flex: 0 1 calc(20% - 8px);
   
}

span{
    padding: 10px;
   
}


.icon-box{
    
    flex-wrap: wrap;
    border-style: solid;
    border-width: 2px solid rgb(214, 211, 211);
    border-radius: 5px;
    padding: 50px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: rgb(232, 238, 238);
    height: 40%;
    width: 60%;
    margin-left: 80px;
    
    /*
     
    flex-wrap: wrap;
    border-style: solid;
    border-width: 2px solid rgb(214, 211, 211);
    border-radius: 5px;
    padding: 50px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: rgb(232, 238, 238);
    
    */
    
    

}

hr{
    color:white;
    margin-left: 5%;
    margin-right: 5%;
    
    
}
footer{
    
    background-color: black;
    position: absolute;
    color: white;
    bottom: 0;
    text-align: center;
    
    width: 100%;
   
    
}
.grass-words{
    
    font-size: larger;
    color:rgb(4, 4, 4);
    text-align: center;
    display:flexbox;
   
}
.techs{
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    padding-left: 15px;
    
}
#nav-icon{
    
    text-align: right;
    font-size:160%;
   
    
   
}

.intro-text{
    text-align: justify;
    text-indent: 100px;
  
}


.bigname{
    padding-top: 14%;
    text-align: justify;
    font-size: 110px;
    font-family: league-spartan;
    color:black;

    text-indent: 100px;
}

.midname{
    text-align: justify;
    font-size: 80px;
    color: black;
    text-indent: 200px;
}
.standard{
    /*photo size is 4288 x 28488*/
    background-image: url('../images/basic-bkg.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
}
.second-image{
    background-image: url('../images/ultra-violent.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}

/* nav bar*/
.flex-container{
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    font-size: 17px;
    color: white;
    background-color: rgb(18, 17, 17);
    justify-content: space-evenly;
    width:100%;
    
}

.flex-container a.page-links{
    
  
    display: flex;
    justify-content:center;
}
/*navbar links*/
.flex-container a{
    margin: 12px;
    
    color: white;
    text-decoration: none;
    margin-left: 54px;

    
}


.flex-container a:hover {
    transition: 0.5s;
    color:rgb(54, 149, 212);
}


.project-component{
    margin-left: 80px;
    border: solid;
    height: 90%;
    width: 75%;
    background-color: aqua;
}
.project{
    margin-left: 10px;
    width: 30%;
    height: 80%;
    background-color: red;
    padding-bottom: 10%;
    border: solid;
}
.project-image{
    margin-left: 3px;
    height: 65%;
    width: 94%;
   

}
.project-content{
    position: relative;
    margin-bottom: 20%;
    height: 30%;
}
.colored-icons{
    
}

/***new navbar***/




.right-end{
    float: right;
    align-items: center;
    display: flex;
    flex-wrap:nowrap;
    gap: 5%;
}
@media screen and (max-width: 600px){

}

footer{
    margin-top: auto;
    position: relative;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}