<p>
    Technologies that I specialize in.

</p>

<div>
    <!--in app.js the public folder is static and is automatically the default folder for static resources
    because of that we use the refference "/images/_____" for our directory-->
    <img class="icon-details" src="/images/java-script.png" alt=""></img>
</div>

<p> All Icons are from www.flaticon.com</p>