<footer>
    <div class="flexbox">
        <div class="footerContainer">
            Technologies used for this website:
            Node.JS.        
            Special thanks: 
            <a href="https://unsplash.com/@willianjusten">Image by willianjusten</a>
            <hr>
        </div>
        <div class="footerBottom">
            <p> Designed by <span> Jeremiah Bolden</span></p>
        </div>
    </div>
    

   
   </footer>