<footer>
    <div class="footerContainer">
        Technologies used for this website:
        Node.JS, JavaScript, NPM, express, mongodb
        
    
        Special thanks
        <a href="https://www.freepik.com/free-vector/elegant-white-background-with-shiny-lines_4077186.htm#page=5&query=background&position=0&from_view=keyword&track=sph&uuid=979e5bcc-cc6b-4c66-a21d-23f0965c6d02">Image by starline</a> on Freepik
        <hr>
    </div>
    <div class="footerBottom">
        <p> Designed by <span> Jeremiah Bolden</span></p>
    </div>

   
   </footer>