<footer>

    Technologies used for this website:
    Node.JS, JavaScript, NPM, express, mongodb

    Special thanks
    Photo by <a href="Photo by Archie Binamira: https://www.pexels.com/photo/selective-focus-photographed-of-green-mountain-913215/"></a> Photo by Archie Binamira <a href="https://unsplash.com/photos/magic-keyboard-beside-mug-and-click-pen-VieM9BdZKFo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  
</footer>