

    <div class="flex-container">
      <div class="navigation-bar">
        <a class="page-links" href="/contact">Contact Me</a>
     
     
        <a class="page-links"  href="/about">About Me</a>
     
        <a class="page-links" href="/project-page">Projects</a>
      
        <a class="page-links"  href="/">Home</a>

         <!--linked in logo-->
    <a class="bi bi-linkedin" id="nav-icon" href="https://www.linkedin.com/in/jeremiah-bolden-018064298/"></a>
     
    <a class="bi bi-github" id="nav-icon" href="https://github.com/jeremiahb1113"></a>
    <!--<a class="nav-link" href="#">Github(logo)</a> -->
  

      </div>

    
          
        </div>
      
    

 