
<div>
  <nav class="master-nav">

    <div class="navigation">

      <a class="nav-link"  href="/contact">Contact</a>
     
     
              <a class="nav-link"  href="/about">About</a>
           
              <a class="nav-link"  href="/project-page">Projects</a>
            
              <a class="nav-link"  href="/">Home</a>

               <!--linked in logo-->
          <a class="bi bi-linkedin" id="nav-icon" href="https://www.linkedin.com/in/jeremiah-bolden-018064298/"></a>
           
          <a class="bi bi-github" id="nav-icon" href="https://github.com/jeremiahb1113"></a>
          <!--<a class="nav-link" href="#">Github(logo)</a> -->
        
          
      
    </div>
      
    
  </nav>     
  

</div>
 