
<header>
    <nav class="navigation-bar">
        <ul class="nav-items">
    
        <li><a href="#" >Contact</a></li>
        
        <li><a href="/" >Home</a></li>
        
        <li><a href="/about" >About</a></li>
        
        <li><a href="#" >Projects</a></li>
    
        </ul>
        <div class="right-end">
        
            <a href="#" class="">Github</a>
            
            <a href="#" class="">LinkedIn</a>
    
       </div> 
    </nav>
</header>