
<div class="flex-container">


    <div>
        <p class="project-component"> projects </p>
        <p class="project-component"> projects </p>
        <p class="project-component"> projects </p>

    </div>
   




    <!-- old code
  <div class="project-component">
        <div class="project">
            <h2>Bounty Application</h2>
            <div class="project-image" ><img class="project-image" src="/images/stock-project-image.jpg" alt="src/public/images/stock-project-image.jpg"/></div>
        <p class="project-content">
           In this application you create an account and look for bounties
           to fufill, you earn money by successful bounties
           (fictional) 
        </p>
        <p class="project-content"> Technologies: Java, React, (database)</p>
        <p class="colored-icons"> colored icons images</p>
        </div>
        
    </div>

    -->
  
</div>



