<div >
   <!-- file is named scarf because it is the skirt to the body, except in this
case. a skirt to the head would be a scarf-->
<p class="bigname">Jeremiah Bolden</p>
<p class="midname">Software Developer</p>
<p class="main-paragraph">Welcome to my portfolio page, I am a Software Developer from Philadelphia Pennsylvania.
    I currently live in the Cleveland Ohio area.
    I am a fullstack software developer specializing in Java, Javascript, React, PostgreSql, and many other languages, frameworks and databases.
</p>
   
          
</div>