<div>
   <!-- file is named scarf because it is the skirt to the body, except in this
case. a skirt to the head would be a scarf-->
   
    <p class="bigname">Jeremiah Bolden</p>
    <p class="midname">Software Developer</p>
    <p>Welcome to my portfolio page, My name is Jeremiah Bolden</p>
</div>